<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script><!--Jquery-->
<script src="/socket.io/socket.io.js"></script><!--socket io pour communiquer via websocket-->
<link rel="stylesheet" href="/todo.css">
<script>var socket = io.connect('http://localhost:8080/');<!--conexion au serveur--><script>
  
//fonction qui crée un champ de taxte editable à la place de la task
			 function makeEditable(task,text){
			   console.log(task);
				
				var h = '<span id="span'+task+'"><input type="text" id="newText" name="newText" value="'+text+'"><input type="button" onclick="save(\''+task+'\',$(\'#newText\').val());" value="OK"></span>';
				
				var node= '#li'+task;
				$(node).html(h);
			 }
			 
			 //fonction qui envoie la tache à mettre à jour au serveur, pour cela on utilise socket io
			 function save(task,text){
				 console.log("edit");
				socket.emit('edit', {'task':task,'texte':text});
				
			 }
			 function add(text){
				socket.emit('add', text);
			 }
			 function remove(task){
				socket.emit('remove', task);
			 }
			 socket.on('edit', function(task) {
				
				line = '#li'+task.task; console.log("Front: "+task.task+" texte: "+task.txt);
				$(line).html('<span id="span'+task.task+'">'+task.txt+'</span> <a href="#" onclick="remove('+task.task+')"  id="check">&check;</a> <a href="#" onclick="makeEditable('+task.task+',\''+task.txt+'\')">Edit</a>');
				
            })
			 socket.on('task', function(todo) {
				console.log(todo.texte);
				line = '<li id="li'+todo.num+'"><span id="span'+todo.num+'">'+todo.texte+'</span> <a href="#" onclick="remove('+todo.num+')"  id="check">&check;</a> <a href="#" onclick="makeEditable('+todo.num+',\''+todo.texte+'\')">Edit</a></li>';
                $('#liste').append(line);
				$('#taskNum').html(todo.count+" tâches à executer:");
            })
			socket.on('del', function(task) {
				
				line = '#li'+task.task;
				$(line).remove();
				$('#taskNum').html(task.count+" tâches à executer:");
            })
</script>
 <div id="page">


<div id="addTask">
	<label for="Addtodo"><img src="/penpt.png"> AJOUTER UNE TACHE:</label> <input type="text" id="Addtodo" name="todo">
	<input type="submit" value="add" class="submit" onclick="add($('#Addtodo').val());">
 </div>


<div id="todo">
	<h1>My todo list:</h1>
		<% if(locals.todo){%>
		<h3 id="taskNum"><%=todo.size%> tâches à executer:</h3>
		<ul id="liste">

		<% for(let [key, value] of todo) { %>
			<li id="li<%=key%>"><span id='span<%=key%>'><%=value%></span>  <a href="#" onclick="remove(<%=key%>)"  id="check">&check;</a> <a href="#" onclick="makeEditable(<%=key%>,'<%=value%>')">Edit</a></li> 
		<% } %>
		</ul>
		<% }%>
</div>

</div>
